<div id="content">
  <app-special-message message="{{message}}"></app-special-message>
  <div class="columns" style="min-height: 35rem;">
    <div id="page-content" class="column is-four-fifths">
      <div *ngIf="isAuthenticated" id="create-content" class="box">
        [
        <a (click)="toggleEditor()">Toggle Creator</a>
        ]
      </div>
      <div *ngFor="let post of retrievedPosts.results" class="box">
        <!-- <app-post [post]="post"></app-post> -->
      </div>
      <nav *ngIf="retrievedPosts.results.length" class="pagination">
        <!-- https://angular.io/guide/attribute-binding
        https://www.joshuacolvin.net/angular-conditional-attributes/
        https://stackoverflow.com/a/36745752 -->
        <a class="pagination-previous" [attr.disabled]="!previous ? previous : null" (click)="previous && goToPrevious()">Previous</a>
        <a class="pagination-next" [attr.disabled]="!next ? next : null" (click)="next && goToNext()">Next page</a>
      </nav>
    </div>
    <div class="column is-one-fifth" id="side-panel">
      <div id="about-panel" class="box">
        <h1 class="title is-4">Welcome!</h1>
        This is a page for creating and sharing player statistics.
      </div>
    </div>
  </div>
</div>
