#filters {
    background-color: rgba(0, 0, 0, 0.338);
}

#search-button {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 6px;
    color: white;
    text-shadow: 1px 1px #000;
    /* make this button on the right */
    float: right;
}