<div id="content">
    <div class="columns" style="min-height: 35rem;">
    <div id="page-content" class="column is-four-fifths">
      <div *ngIf="isAuthenticated" id="create-content" class="box">
        <a (click)="toggleEditor()"> [ Toggle Editor ] </a>
      </div>
      <div *ngIf="isEditorOpen" id="content-create-box" class="box">
        <!-- Forms -->
        <form *ngIf="!isPreview" [formGroup]="postForm" (ngSubmit)="onSubmit()">
          <label class="label">New story</label>
          <div class="field">
            <div class="control">
              <input class="input" type="text" placeholder="Title" formControlName="title"/>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <textarea class="textarea" placeholder="..." formControlName="content"></textarea>
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link" type="submit" [disabled]="!postForm.valid">Submit</button>
            </div>
            <div class="control">
              <button class="button is-link is-light" type="reset" (click)="toggleEditor()">Cancel</button>
            </div>
            <div>
              <button class="button is-warning" type="button" (click)="togglePreview()" [disabled]="!postForm.valid">Preview</button>
            </div>
          </div>
          <div>
            <a href="https://www.markdownguide.org/basic-syntax/" target="_blank">Markdown reference</a>
          </div>
        </form>
        <!-- Preview  -->
        <div *ngIf="isPreview">
        <app-post
          [post]="{_id: 0, userId: 0, title: this.postForm.value.title, content: this.postForm.value.content, hidden: false, published: getDate()}"></app-post>
          <br>
          <div>
            <button class="button is-warning" type="button" (click)="togglePreview()">Go back to editor</button>
          </div>
        </div>
      </div>
      <div *ngFor="let post of retrievedPosts.results" class="box">
        <app-post [post]="post"></app-post>
      </div>
      <nav *ngIf="retrievedPosts.results.length" class="pagination">
        <!-- https://angular.io/guide/attribute-binding
        https://www.joshuacolvin.net/angular-conditional-attributes/
        https://stackoverflow.com/a/36745752 -->
        <a class="pagination-previous" [attr.disabled]="!previous ? previous : null" (click)="previous && goToPrevious()">Previous</a>
        <a class="pagination-next" [attr.disabled]="!next ? next : null" (click)="next && goToNext()">Next page</a>
      </nav>
    </div>
    <div class="column is-one-fifth" id="side-panel">
      <div id="about-panel" class="box">
        <h1 class="title is-4">Side Panel</h1>
        Here's supposed to have some brief text on what this section is all
        about. Below this I should add maybe links or cool information
      </div>
      <div id="generic" class="box">
        <h1 class="title is-6">Lorem Ipsum</h1>
        Lorem ipsum dolor sit amet
      </div>
    </div>
  </div>
</div>
