#about-panel {
    background-color: rgba(163, 163, 198, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 6px;
    color: rgb(249, 249, 249);
    text-shadow: 1px 1px #000;
}

#about-panel > h1 {
    color: black;
    padding-bottom: 0.75rem;
    text-shadow: 0px 0px;
}

#links-panel {
    background-color: rgba(211, 255, 218, 0.4);
    backdrop-filter: blur(10px);
    color: rgb(249, 249, 249);
    text-shadow: 1px 1px #000;
}

#links-panel > h1 {
    color: black;
    padding-bottom: 0.75rem;
    margin-bottom: 0;
    text-shadow: 0px 0px;
}

#links-panel > span > a:not(:last-child) {
    margin-right: 1rem;
}

#create-content {
    margin-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.338);
    color: #4a4a4a;
}

nav > a {
    background-color: rgb(255, 255, 255);
}

/* Improves disabled button clarity */
.pagination-previous[disabled], .pagination-next[disabled], .pagination-link[disabled] {
	opacity: 0.8;
}

#special-message {
    overflow: hidden;
    white-space: nowrap;
    padding: 0rem 1rem 1rem 1rem;
}

#scrolling-message {
    transform: translateX(100%);
    animation: scroll-right-to-left 15s linear infinite;
    text-shadow: 1px 1px #000;
    width: 105%;
    block-size: fit-content;
    color: rgb(246, 255, 198);
}

/* It's only possible to guarantee a certain speed with fixed width,
   and since there's responsiveness and different text sizes, it would
   require a special code to make it consistent in the future.
   https://blog.hubspot.com/website/scrolling-text-css */
@keyframes scroll-right-to-left {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}