.box {
    background-color: rgb(46, 46, 46);
    color: white;
}

strong {
    color: rgb(247, 255, 210);
}

#side-panel {
    padding-left: 0;
    padding-right: 0;
}

#about-panel {
    background-color: rgb(163, 163, 198);
}

#about-panel > h1 {
    color: black;
    padding-bottom: 0.75rem;
}

#generic {
    background-color: rgb(240, 226, 145);
    color: black;
}

#generic > h1 {
    color: black;
    padding-bottom: 0.75rem;
}

#create-content {
	margin-bottom: 1rem;
}

#create-content > a {
    color: pink;
}

.label {
    color: rgb(247, 255, 210);
}

nav > a {
    background-color: rgb(255, 255, 255);
}