#about-panel {
    background-color: rgba(163, 163, 198, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 6px;
}

#about-panel > h1 {
    color: black;
    padding-bottom: 0.75rem;
}

#generic {
    background-color: rgba(255, 248, 211, 0.7);
    backdrop-filter: blur(10px);
    color: black;
}

#generic > h1 {
    color: black;
    padding-bottom: 0.75rem;
}

#create-content {
	margin-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.338);
    color: #4a4a4a;
}

nav > a {
    background-color: rgb(255, 255, 255);
}

/* Improves disabled button clarity */
.pagination-previous[disabled], .pagination-next[disabled], .pagination-link[disabled] {
	opacity: 0.8;
}