<div id="content" class="block">
  <h1 class="title">Welcome</h1>
  <hr />
  <div class="columns">
    <div id="page-content" class="column is-four-fifths">
      <div *ngFor="let post of retrievedPosts" class="box">
        <article class="media-content">
          <strong>
            {{ post.title }}
          </strong>
          <small>
            {{ post.published | date }}
          </small>
          <br />
          <br />
          <p>
            {{ post.content }}
          </p>
        </article>
      </div>
    </div>
    <div id="side-panel" class="column is-one-fifth message is-info is-light">
      <h1 class="title is-4">Side Panel</h1>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime amet
      praesentium mollitia id aut saepe. Inventore sint doloremque velit eius
      aspernatur earum voluptatibus laborum eaque saepe, sed harum quas facere?
      <br />
      <br />
      Second column
    </div>
  </div>
</div>
