.footer {
    background-color: rgba(0, 0, 0, 0.338);
    padding: 3rem;
    color: white;
    backdrop-filter: blur(10px);
    border-radius: 6px;
}

a {
    padding-right: 2rem;
    color: white;
}

a:hover {
    color: rgb(202, 236, 174);
}