#page {
    max-width: 60rem;
    margin: auto;
}

#main-content {
    min-height: 40rem;
    margin-bottom: auto;
    padding: 1rem;
}

#navigation-bar {
    background-color: rgba(0, 0, 0, 0.338);
    backdrop-filter: blur(10px);
    border-radius: 6px;
    display: flex; /* This prevents this bar from expanding ever so slightly */
}

.button {
    background-color: rgba(255, 255, 255, 0.711);
}

.active-nav {
    background-color: rgba(255, 255, 255);
}

.panda {
    /* Originally intended for a static picture of a panda */
    width: 10rem;
    right: 2rem;
    top: -6.6rem;
    position: absolute;
    /*transform: scaleX(-1);*/
}

#user-area {
    position: sticky;
    z-index: 31; /* This guarantees that the link is always on top of the panda */
}