#page {
    max-width: 60rem;
    margin: auto;
}

#header {
    background-color: rgb(44, 44, 44);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border: 1px solid rgb(0, 0, 0);
    border-bottom: 0;
}

#main-content {
    background-color: rgb(37, 37, 37);
    border: 1px solid rgb(0, 0, 0);
    border-top: 0;
    border-bottom: 0;
    min-height: 40rem;
    margin-bottom: auto;
    padding: 1rem;
}

#navigation-bar {
    background-color: rgb(202, 236, 174);
    border: 1px solid rgba(0, 0, 0, 0.226);
}

#footer {
    border: 1px solid rgb(0, 0, 0);
}

.active-nav {
    background-color: rgb(131, 152, 115);
    color: white;
}

.panda {
    /* Originally intended for a static picture of a panda */
    width: 10rem;
    right: 2rem;
    top: -6.6rem;
    position: absolute;
    /*transform: scaleX(-1);*/
}