@if (!success && loading) {
  <div>Loading tags...</div>
}
@if (success && !loading) {
  <div class="box">
    <h1 class="title">🏷️ {{ postsByTag.name.toUpperCase() }}</h1>
    @for (post of postsByTag.results; track post) {
      <a class="alternating" routerLink="/post/{{ post._id }}">
        <article>
          <strong>
            {{ post.title }}
          </strong>
          <span class="dash">-</span>
          <small>
            {{ post.published | date }}
          </small>
        </article>
      </a>
    }
  </div>
}
@if (!success && !loading) {
  <app-not-found></app-not-found>
}
