<article *ngIf="!isEditorOpen" class="media-content">
  <span id="editor" *ngIf="isAuthenticated  && !isDeleted && !isPreview">
    [
    <a (click)="toggleEditor()">Edit</a>
    /
    <a (click)="deletePost()">Trash</a>
    ]
  </span>
  <strong>
    {{ post.title }}
  </strong>
  -
  <small>
    {{ post.published | date }}
  </small>
  <br />
  <br />
  <!-- https://bulma.io/documentation/elements/content/
  Use of innerHTML to make Angular render HTML instead of pure text:
  https://angular.io/guide/security#sanitization-example -->
  <div class="content" [innerHTML]="post.content | markdown"></div>
</article>
<app-post-editor [(post)]="post" (cancelFunction)="toggleEditor()" *ngIf="isEditorOpen"></app-post-editor>