@if (loading) {
  <div class="box">Loading, please wait!</div>
}
<div id="filters" class="box">
  View: [<a (click)="setViewAsGrid(true)">Grid</a>] [<a (click)="setViewAsGrid(false)">List</a>] - Sorting: [<a
  (click)="sortByDate(true)">Newer</a>] [<a (click)="sortByDate(false)">Older</a>]
</div>
@if (projects.length > 0) {
  <div class="grid  is-col-min-10">
    @for (project of projects; track project) {
      <div class="cell">
        <app-project-template [project]="project"> </app-project-template>
      </div>
    }
  </div>
}
@if (!success) {
  <div>
    <app-not-found></app-not-found>
  </div>
}