/* You can add global styles to this file, and also import other style files */
@import "bulma/css/bulma.css";

html {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-image: linear-gradient(#424242 1px, transparent 1px),
    linear-gradient(to right, #424242 1px, #222222 1px);
  background-size: 1.5rem 1.5rem;
}

/* Changes below overwrite default styles from bulma.css */
.input, .textarea {
  border-color: #5e5e5e;
  background-color: #212121;
  color: white;
}

.input:focus, .textarea:focus, .select select:focus, .is-focused.input, .is-focused.textarea, .select select.is-focused, .input:active, .textarea:active, .select select:active, .is-active.input, .is-active.textarea, .select select.is-active {
	border-color: #4da74b;
}

.button:focus, .button.is-focused {
	border-color: #000000;
	color: #363636;
}

.input::placeholder, .textarea::placeholder, .select select::placeholder {
	color: rgb(255, 255, 255);
}

/* Overwrites content class for markdown pipe */
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6, .content strong {
	color: #ffffff;
}

a {
  color: pink;
}