/* You can add global styles to this file, and also import other style files */
@import "bulma/css/bulma.css";

html {
  padding-top: 2rem;
  padding-bottom: 2rem;
  /* https://github.com/angular/angular-cli/issues/12797#issuecomment-598559534
  https://github.com/angular/angular/issues/32811 */
  background-image: url("^./assets/cyberpunk_pandas.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* Global definitions by myself */
/* Used for posts, or any object that has long text */
.box {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(50px);
  border-radius: 6px;
}

/* Changes below overwrite default styles from bulma.css */
.input, .textarea {
  border-color: #5e5e5e;
  background-color: #212121;
  color: white;
}

.input:focus, .textarea:focus, .select select:focus, .is-focused.input, .is-focused.textarea, .select select.is-focused, .input:active, .textarea:active, .select select:active, .is-active.input, .is-active.textarea, .select select.is-active {
	border-color: #4da74b;
}

.input::placeholder, .textarea::placeholder, .select select::placeholder {
	color: rgb(255, 255, 255);
}

/* Overwrites content class for markdown pipe */
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6, .content strong {
	color: #ffffff;
}

a, a:hover {
  color: #b6ff79;
}