/* You can add global styles to this file, and also import other style files */
@import "bulma/css/bulma.css";

html {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-image: url("https://github.com/parklez/blog/blob/gh-pages/assets/_52a616c1-6f9b-4c1b-af5c-30a721546131.jpeg?raw=true");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* Changes below overwrite default styles from bulma.css */
.input, .textarea {
  border-color: #5e5e5e;
  background-color: #212121;
  color: white;
}

.input:focus, .textarea:focus, .select select:focus, .is-focused.input, .is-focused.textarea, .select select.is-focused, .input:active, .textarea:active, .select select:active, .is-active.input, .is-active.textarea, .select select.is-active {
	border-color: #4da74b;
}

.button:focus, .button.is-focused {
	border-color: #000000;
	color: #363636;
}

.button:focus:not(:active), .button.is-focused:not(:active) {
	box-shadow: 0 0 0 0.125em rgba(0, 0, 0, 0.25);
}

.input::placeholder, .textarea::placeholder, .select select::placeholder {
	color: rgb(255, 255, 255);
}

/* Overwrites content class for markdown pipe */
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6, .content strong {
	color: #ffffff;
}

a, a:hover {
  color: pink;
}